<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Paradox of the Abyss</title>
  <link rel="stylesheet" href="../style.css" />
  <link rel="shortcut icon" href="../icon/favicon.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>



<body>
  <div class="navbar">
    <a href="../index.html">Home</a>
    <div class="subnav">


    </div>

    <div class="subnav">
      <a href="about_us.html">Quienes somos</a>
    </div>

    <div class="subnav">
      <a href="games.html">Juegos / Expansiones</a>
      <button class="subnavbtn">
        </a><i class="fa fa-caret-down"></i>
      </button>
      <div class="subnav-content">
        <a href="games.html">Nuestros juegos</a>
        <a href="games_package.html">Expansiones</a>
        <a href="games_proyects.html">Nuestros proyectos</a>
        <a href="games_activities.html">Actividades</a>

      </div>
    </div>

    <div class="subnav">
      <a href="games.html">Productos</a>
      <button class="subnavbtn">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="subnav-content">
        <a href="products_merch.html">Merchandising</a>
        <a href="products_songs.html">Canciones</a>
        <a href="products_videos.html">ejemplo video</a>
        <a href="products_comic.html">Comic</a>
      </div>
    </div>


    <div class="subnav">
      <a href="characters.html">Personajes </a>

    </div>




    <div class="subnav">
      <a href="blog.html">Blog</a>


    </div>


    <div class="subnav">
      <a href="login.html">Área de clientes</a>
    </div>

  </div>

  <div>
    <h1>Paradox of the abyss</h1>

    <h2>Quienes somos</h2>
    <p>

      En Paradox of the abyss, nos sumergimos en las profundidades de la fantasía y el desafío para traerte
      experiencias de juego de rol que desafían tus límites y te invitan a explorar mundos llenos de misterio y peligro.
      Inspirados por la intensidad y la complejidad de juegos icónicos como Dark Souls, nuestro equipo está dedicado a
      crear aventuras que no solo prueben tu habilidad y estrategia, sino que también te sumerjan en narrativas ricas y
      entornos meticulosamente diseñados.

    </p>



    <h2> Nuestra Misión</h2>
    <p>
      Nuestra misión es enriquecer la vida de nuestros jugadores proporcionando experiencias de juego de rol de la más
      alta calidad. Nos esforzamos por crear juegos que sean accesibles para novatos, pero con la profundidad que los
      veteranos aprecian.

    </p>

    <h2>
      Nuestros Valores</h2>

    <p>
      Creatividad: Fomentamos la creatividad tanto en nuestros juegos como en nuestra comunidad.
      Inclusión: Nos comprometemos a construir un ambiente donde todos se sientan bienvenidos y respetados.
      Innovación: Constantemente buscamos formas de mejorar y expandir nuestras ofertas de juegos.
    </p>
    <h2>
      Nuestro Equipo</h2>
    <p>
      Contamos con un equipo diverso de diseñadores, artistas y narradores apasionados por los juegos de rol. Cada
      miembro aporta su talento único para crear experiencias de juego memorables.
    </p>

    <h2>
      Nuestro Compromiso</h2>
    <p>
      Estamos comprometidos con el desarrollo sostenible de la industria del juego de rol. Apoyamos iniciativas locales
      y globales para promover la educación y la inclusión a través del juego.
    </p>
    
  </div>

<footer>
  <h2>
    Contáctanos</h2>
  <p>
    Si tienes preguntas sobre nuestros juegos o quieres saber más sobre nosotros, no dudes en contactarnos. ¡Estamos
    aquí para embarcarnos en la próxima aventura contigo!
  </p>
</footer>
</body>

</html>