<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Open System Gaming</title>
  <link rel="stylesheet" href="../style.css" />
  <link rel="shortcut icon" href="../icon/favicon.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>



<body>
  <div class="navbar">
    <a href="../index.html">Home</a>
    <div class="subnav">


    </div>

    <div class="subnav">
      <a href="about_us.html">Quiénes somos</a>
    </div>

    <div class="subnav">
      <a href="games.html">Juegos / Expansiones</a>
      <button class="subnavbtn">
        </a><i class="fa fa-caret-down"></i>
      </button>
      <div class="subnav-content">
        <a href="games.html">Nuestros juegos</a>
        <a href="games_package.html">Expansiones</a>
        <a href="games_proyects.html">Nuestros proyectos</a>
        <a href="games_activities.html">Actividades</a>

      </div>
    </div>

    <div class="subnav">
      <a href="products.html">Productos</a>
      <button class="subnavbtn">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="subnav-content">
        <a href="products_merch.html">Merchandising</a>
        <a href="products_songs.html">Canciones</a>
        <a href="products_videos.html">Vídeos</a>
        <a href="products_comic.html">Cómics</a>
      </div>
    </div>


    <div class="subnav">
      <a href="characters.html">Personajes </a>

    </div>




    <div class="subnav">
      <a href="blog.html">Blog</a>


    </div>


    <div class="subnav">
      <a href="login.html">Área de clientes</a>
    </div>

  </div>


  <div>
    <h1>Personajes</h1>
  </div>
  <section class="fotos">


    <div class="container">

      
      <div>Aeliana Tormenta <img src="../img/personajes/personaje1.jpg" alt=""><span>Una guerrera intrépida con habilidades mágicas.</span> </div>
      <div>Kaelen Maestro de las Sombras<img src="../img/personajes/personaje6.jpg" alt=""><span> Un espía maestro en el arte del engaño y el sigilo</span></div>
      <div>Nyx Sombra nocutrna<img src="../img/personajes/personaje2.jpg" alt=""><span> Una asesina sigilosa con un pasado misterioso</span></div>
      <div>Theron Guardián del Bosque<img src="../img/personajes/personaje3.jpg" alt=""><span>Un protector de la naturaleza con la habilidad de comunicarse con los animales. <br>
       <hr><br>
      <b> Habilidades </b> <br> <br><b>Comunicación Animal:</b>Capacidad para entender y ser entendido por los animales. <br>

        <b>Camuflaje Natural:</b> Habilidad para mimetizarse con el entorno del bosque. <br>
        
        <b>Crecimiento Acelerado:</b> Puede hacer que la vegetación crezca rápidamente para su defensa o para ayudar en su entorno. </span></div>
      <div><img src="../img/personajes/personaje4.jpg" alt=""><span>Darius Puño de Hierro</span></div>
      <div><img src="../img/personajes/personaje5.jpg" alt=""><span>Seraphina Llama Eterna</span></div>
      <div><img src="../img/personajes/personaje7.jpg" alt=""><span>Aurora Corazón de Hielo</span></div>
      <div><img src="../img/personajes/personaje8.jpg" alt=""><span>Orion Cazador Celestial</span></div>
      <div><img src="../img/personajes/personaje9.jpg" alt=""><span>Maelis Susurro del Océano</span></div>
      <div><img src="../img/personajes/personaje10.jpg" alt=""><span>Cassius Lobo</span></div>
      <div><img src="../img/personajes/personaje11.jpg" alt=""><span>Cassius Lobo</span></div>
      <div><img src="../img/personajes/personaje12.jpg" alt=""><span>Cassius Lobo</span></div>
    </div>
  </section>


</body>

</html>