<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open System Gaming</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" href="../icon/favicon.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>



  <body>
    <div class="navbar">
      <a href="../index.html">Home</a>
      <div class="subnav">
  
  
      </div>
  
      <div class="subnav">
        <a href="about_us.html">Quiénes somos</a>
      </div>
  
      <div class="subnav">
        <a href="games.html">Juegos / Expansiones</a>
        <button class="subnavbtn">
          </a><i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
          <a href="games.html">Nuestros juegos</a>
          <a href="games_package.html">Expansiones</a>
          <a href="games_proyects.html">Nuestros proyectos</a>
          <a href="games_activities.html">Actividades</a>
  
        </div>
      </div>
  
      <div class="subnav">
        <a href="products.html">Productos</a>
        <button class="subnavbtn">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
          <a href="products_merch.html">Merchandising</a>
          <a href="products_songs.html">Canciones</a>
          <a href="products_videos.html">Vídeos</a>
          <a href="products_comic.html">Cómics</a>
        </div>
      </div>
  
  
      <div class="subnav">
        <a href="characters.html">Personajes </a>
  
      </div>
  




    <div class="subnav">
      <a href="blog.html">Blog</a>


    </div>


    <div class="subnav">
      <a href="login.html">Área de clientes</a>
    </div>

  </div>
  <div>
    <h1>Expansiones </h1>
  </div>

  
  <div class="products">

    <!--first card-->
    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>
  
    <!--second card-->
    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>
    <!--third card-->
    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>

    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>




    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>




    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>



    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>



    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>



    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>



    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>


    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>


    <div class="card">
      <!--front side-->
      <div class="face front">
        <img src="../img/juegos/caratula1.jpg" alt="">
        <h3>Paradox of the abyss</h3>
      </div>
      <!--back side-->
      <div class="face back">
        <h3>Paradox of the abyss</h3>
        <p>Es un juego de estrategia y supervivencia en un mundo subacuático. Como líder de una instalación secreta, tu objetivo es desentrañar los secretos del océano para avanzar en la clonación humana. Enfréntate a las criaturas abisales mientras mantienes a tu equipo a salvo en las profundidades.
        </p>
        <div class="link"><a href="#"></a>Mas Información</div>
      </div>
    </div>

    

</div>
<footer>
  <p>Author: Nathaly Ramírez</p>
  <hr>
  <p><a href="mailto:nathalyramirez.web@gmail.com">nathalyramirez.web@gmail.com</a></p>
  </footer>
  </body>
  
  </html>