<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open System Gaming</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" href="../icon/favicon.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>



  <body>
    <div class="navbar">
      <a href="../index.html">Home</a>
      <div class="subnav">
  
  
      </div>
  
      <div class="subnav">
        <a href="about_us.html">Quiénes somos</a>
      </div>
  
      <div class="subnav">
        <a href="games.html">Juegos / Expansiones</a>
        <button class="subnavbtn">
          </a><i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
          <a href="games.html">Nuestros juegos</a>
          <a href="games_package.html">Expansiones</a>
          <a href="games_proyects.html">Nuestros proyectos</a>
          <a href="games_activities.html">Actividades</a>
  
        </div>
      </div>
  
      <div class="subnav">
        <a href="products.html">Productos</a>
        <button class="subnavbtn">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content">
          <a href="products_merch.html">Merchandising</a>
          <a href="products_songs.html">Canciones</a>
          <a href="products_videos.html">Vídeos</a>
          <a href="products_comic.html">Cómics</a>
        </div>
      </div>
  
  
      <div class="subnav">
        <a href="characters.html">Personajes </a>
  
      </div>
  




    <div class="subnav">
      <a href="blog.html">Blog</a>


    </div>


    <div class="subnav">
      <a href="login.html">Área de clientes</a>
    </div>

  </div>
  <div>
    <h1>PAGINA </h1>
  </div>


  <footer>
    <p>Author: Nathaly Ramírez</p>
    <hr>
    <p><a href="mailto:nathalyramirez.web@gmail.com">nathalyramirez.web@gmail.com</a></p>
    </footer>
    </body>
    
    </html>